/* CSS Document */
/* ===STANDARD CONTENT===*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	background-color: #ffffff;
	margin:0px 0px 0px 0px;
}
th, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
a {
   color: #863d02;
   text-decoration: none;
}
a:hover {
   color: #993300;
   text-decoration: underline;
}
hr {
  color: #993300;
  background-color: #993300;
  height:1px;
}  
img 
{
    border: none;
}

/* ===STANDARD HEADER===*/
.bannerColorBand {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 5.14em;
	background-color: #993300;
}
.banner {
	/* background: url("http://internal.usgs.gov/images/headers/intranet_main.jpg") #000000 178px 0px no-repeat; */
	width: 100%;
	height: 72px;	
	background-color: #993300;
}
/*DIV.bannerColorBand, DIV.banner { 
    background-color: #993300; 
} */
.identifier {
	background-color: black;
	width: 178px;
	height: 5.14em;
	float: left;
}
.coop { 
    padding-left: 18px; 
    position: absolute; 
    height: 5.14em; 
    background-color: black;             
} 
.siteTitle { 
    background-color: #993300; 
    clear: both; 
    width: 100%; 
    border-top: 1px solid #CCCCCC; 
    font: 14px Verdana, Arial, Helvetica, sans-serif; 
    color: #CCCCCC; 
    padding-left:0px;
    padding-right:0px;
    padding-top:5px;
    padding-bottom:5px;
} 
/*Div.siteTitle, #pTitle { 
     background-color: #993300; 
     color: #ffffff; 
} */
.siteNavigation 
{
    background-color: #f2eaab;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #993300;
    border-top: 1px solid #CCCCCC;
    font: 12px Verdana, arial, Helvetica, sans-serif;
    color: #993300;
    padding:0px;
    height:30px;
} 
#pNav 
{
    padding:0px;
    padding-top:8px;
    margin:0px;
    float:left;
}
#pLogon 
{
    float:right;
}
.Logon {
	font: .9em Verdana Arial Helvetica sans-serif;
	letter-spacing: 1px;
}
#BodyContent
{
    background:#FFFFFF url("../images/RMSBodyContentBG.gif") repeat-x;
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
}
#pTitle { 
    font: bold 1.1em Verdana, Arial, Helvetica, sans-serif; 
    padding: 0px; 
    margin: 0px; 
    color: White;
	text-decoration: none;
} 
#pTitle a { 
    font: bold 1.1em Verdana, Arial, Helvetica, sans-serif; 
    padding: 0px; 
    color: White;
    margin: 0px; 
	text-decoration: none;
} 
#pTitle a:hover 
{
    color: White;
}
.internalOnly {
	font: .8em Verdana Arial Helvetica sans-serif;
	letter-spacing: 1px;
	text-align:right;
}

/* ===STANDARD CUSTOMER SERVICE AREA===*/
.ccsaBox {
	float: right;
	background-color: #f2eaab;
}
.ccsa {
	font:  1em/.5em Verdana, Arial, Helvetica, sans-serif;
	height: 5.14em;
	width: 10.5em;
}
.ccsa a:link { 
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif; 
    color: #993300; 
    margin-left: 4px; 
    text-decoration: none; 
} 
.ccsa a:visited { 
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif; 
    color: #993300; 
    margin-left: 4px; 
    text-decoration: none; 
} 
.ccsa a:hover { 
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif; 
    color: #FFFFFF;
    text-decoration: underline; 
    margin-left: 4px; 
} 
.ccsa a:active { 
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif; 
    color: #993300; 
    margin-left: 4px; 
    text-decoration: none; 
}
 
/* ===STANDARD FOOTER===*/
.footerBar {
	background-color: #993300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	/*/*/padding: 4px; /*End hiding for this section in Netscape 4x*/
	margin-top: 20px;
    margin-bottom: -16px;
}
.footerBar a:link { 
    padding-right: 40px; 
    color: #ffffff; 
    text-decoration: none; 
} 
.footerBar a:visited { 
    padding-right: 40px; 
    color: #ffffff; 
    text-decoration: none; 
} 
.footerBar a:hover { 
    padding-right: 40px; 
    color: #ffffff; 
    text-decoration: underline; 
} 
.footerBar a:active { 
    padding-right: 40px; 
    color: #ffffff; 
    text-decoration: none; 
} 
.footerText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin-bottom: -2px;
	/*/*/padding: 4px;/*End hiding for this section in Netscape 4x*/
}

/* ===CUSTOM TEXT===*/
.SIBodyFontSmaller {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
}
.SIBodyFontSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;

}
.SIBodyFontSmallWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
}
.SIBodyFont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;

}
.SIBodyFontLarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	font-weight: normal;

}
.SITitleFontSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #858855;
}
.SITitleFontSmallBrown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #863d02;
}
.SITitleFont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}
.SITitleFontBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #863d02;
}
.SITitleFontLarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
}
.RightBorder {
   border-right-style: solid;
   border-right-color: #863d02;
	border-right-width: thick;
}

/*------------------------------------------------------------------------------------------------------*/
/*   Infobox styles -  popup information boxes                                                          */
/*------------------------------------------------------------------------------------------------------*/
a.infobox {
   position:relative; /*this is the key*/ 
   z-index:24; 
   color:#000; 
   text-decoration:none 
}
a.infobox:hover {
   z-index:25;
   background-color:#fff; 
}
a.infobox span {
   display: none;
   font-size: x-small;
   text-decoration: none;
   font-weight: normal;
   visibility: hidden;
}
a.infobox:hover span { /*the span will display just on :hover state*/
   display:block;
   position:absolute;
   top:15px;
   border:1px solid #000;
   background-color: #6B696B;
   color: #fff;
   padding: 3px;
   width: 300px;
   visibility: visible;
}
.popuptext  {
   border-bottom: dashed; 
   border-bottom-width: 1px;
   cursor: help;
}

/*OVERRIDE SECTION FOR TELERIK RAD CONTROLS----------------------*/
.rgRow td,
.rgAltRow td,
.rgEditRow td,
.rgFooter td
{
	border-style:solid;
	border-width:1px 1px 1px 1px;
}

.rgRow td
{
	border-color:#cabaab #cabaab #cabaab #cabaab;
}

/*------------FOR GRIDVIEW--------------------------*/
.hidden
{
    display: none;
}


/*----------------Wrapper Styles--------------*/
#wrapper {
   padding: 20px;
   width: 760px;
}

/*----------------Office Info Styles--------------*/
#officeinfo {
   padding-top: 5px;
}

/*----------------Main Content Divs Styles--------------*/
#leftcol {
   float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
   width: 45%;
}
#rightcol {
   float: right;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	width: 45%;
}
#fullcontent {
   padding-top: 20px;
}

/*----------------Tables Styles--------------*/
#RMSDefaultTable {
   border: 1px #863d02 solid;
   background: #f2eaab;
}
#RMSDefaultTable td {
   padding: 10px;
}
#RMSDefaultTable p {
   padding: 0px;
   margin: 5px;
}
#RMSSiteListTables {
   border: 1px #863d02 solid;
   background: #FFFFFF;
}
#RMSSiteListTables p {
   padding: 0px;
   margin:0px;
}
#RMSSiteListTables td {
   padding: 3px;
}

/*----------------Quick Links Styles--------------*/
#quicklinks {
   font-size:11px;
   text-align: center;
   width:100%;
   padding-bottom: 30px;
}

/*------------------------------------------------*/
.fieldtriplist 
{
    margin-bottom:0px;
}