<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="googlemaps.subgurim.net" value="ABQIAAAAdzMoWOESPeH2RI5ccdwQgBSY3CgSL6CIL1LT8ycnVr2rtm0alRTtmEl1hQh6zLpEiyNuK6yfrr_6OA" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="DBConnString" value="Data Source=IGSKIACWVMi01;Initial Catalog=simsdb;Integrated Security=True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="ServerURL" value="https://sims.water.usgs.gov" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <connectionStrings>
    <add name="simsdbConnectionString" connectionString="Data Source=IGSKIACWVMi01;Initial Catalog=simsdb;Integrated Security=True" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="https://sims.water.usgs.gov/Services/WCFServices.SIMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISIMSService" contract="ISIMSService" name="BasicHttpBinding_ISIMSService"/>
      <endpoint address="https://sims.water.usgs.gov/Services/WCFServices.SIMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISIMSService1" contract="SIMSService.ISIMSService" name="BasicHttpBinding_ISIMSService1"/>
      <endpoint address="https://sims.water.usgs.gov/Services/WCFServices.PASSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPASSService" contract="PASSService.IPASSService" name="BasicHttpBinding_IPASSService"/>
    </client>
  </system.serviceModel>
</configuration>